# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.android/
.ios/
.vscode/
# Flutter/Dart/Pub related
**/doc/api/
**//Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build
/windows
/macos
/linux
ios/Pods
pubspec.lock

local.properties
.vscode
.android
.idea

